{%extends 'base.html'%}
{%set page_head_title='Sign In Log In'%}
{%block page_head_css%}
    <link rel = "stylesheet" href="{{url_for('Signin.static', filename='signIn.css')}}">
{%endblock%}
{%block page_body_main_content%}
	<div class="container">
		<div class="contact-box">
			<div class="left">
                <h2>Log In!</h2>
                <form class="form" action="{{url_for('Signin.login')}}" method="POST">
				<input type="email" id="email" name="email" class="field" placeholder="Your Email" required >
				<input type="password" id="password" name="password" class="field" placeholder="Your password" required >
				<button class="btn" type="submit">Enter</button>
                </form>
            </div>
			<div class="right">
                <h2>Sign Up To Rabbit!</h2>
                <form class="form2" action="{{url_for('Signin.register')}}" method="POST" enctype="multipart/form-data">
				<input type="text"  id=name name="name" class="field" placeholder="Your Name" required>
				<input type="email" id="email" name="email" class="field" placeholder="Your Email" required >
                 <input type="text" id="carModel" name="phone" class="field" placeholder="Your Phone Number" >
                 <p>Your Birthdate:</p>
				<input type="date" id="bday" name="bday" class="field" placeholder="Your birthday" required >
                 <input type="password" id="password" name="password" class="field" placeholder="Your password" required >
                 <input type="url" id="facebook" name="facebook" class="field" placeholder="Link To Your Facebook">
                 <input type="number" id="numLicense" name="numLicense" class="field" placeholder="Your Number Of License"  >
                 <input type="number" id="numOfCar" name="numOfCar" class="field" placeholder="Your Car Number"  >
                 <input type="text" id="carCom" name="carCom" class="field" placeholder="Car Company"  >
                 <input type="text" id="carModel" name="carModel" class="field" placeholder="Your Car Model" required="">
                 <input type="file" id="carModel" name="profile" class="field" placeholder="Select Profile Image" required>
				<button class="btn" type="submit">Submit</button>
                </form>

			</div>
		</div>
	</div>
{%endblock%}