{%extends 'base.html'%}
{%set page_head_title='Available rides'%}
{%block page_head_css%}
    <link rel = "stylesheet" href="{{url_for('SearchResults.static', filename='css/searchResults.css')}}">
{%endblock%}
{%block page_body_main_content%}
<form class="search" method="POST">
    <div class="inForm">
        <label for ="start" >Current location:</label>
        <input type="text" id = "start" name="origin">
        <label for ="end">Destination</label>
        <input type="text" id = "end" class="up" name="destination">
        <input type="datetime-local" id="Time" name="datetime">
        <br>
        <label>preferences: </label>
        <input type="checkbox" name="smoke" value="smoke"> smoking? </input>
        <input type="checkbox" name="animals" value="animals"> pets allowed? </input>
        <input type="checkbox" name="masks" value="masks"> masks? </input>
        <br>
        <input type="submit" value="Search" class="submit">
    </div>
</form>

<div class="grid-container">
        {%for ride in rides%}
        {%if current_user!=ride['DriverID']%}
        <ul class="element">
            <li class="inner_element">
                <label for="Driver">Driver:</label><br>
                <a id="Driver" href="{{url_for('UserProfile.index', ID=ride['DriverID'])}}">{{ride['DriverName']}}</a>
            </li>
            <li class="inner_element">
                <label for="startTime">Start time</label><br>
                <p id="startTime" >{{ride['DepartureTime']}}</p>
            </li>
            <span class="inner_element">
                <label for="currentLocation">Origin</label><br>
                <a id="currentLocation" >{{ride['Origin']}}</a>
            </span>
            <span class="inner_element">
                <label for="destinationLocation">Destination</label><br>
                <a id="destinationLocation" >{{ride['Destination']}}</a>
            </span>
            <span class="inner_element">
                <label for="numOfSeats">seats available</label><br>
                <a id="numOfSeats" >{{ride['Seats']}}</a>
            </span>
            <span class="inner_element">
                <label for="Payment">Payment</label><br>
                <a id="Payment">{{ride['Price']}} NIS </a>
            </span>
            <span class="inner_element2">
                <label>preferences</label><br>
                {%if ride['Smoking']%}
                <img src="{{url_for('SearchResults.static',filename='media/cigarette.jpg')}}">
                {%endif%}
                {%if ride['Pets']%}
                <img src="{{url_for('SearchResults.static',filename='media/pet.jpg')}}">
                {%endif%}
                {%if ride['Mask']%}
                <img src="{{url_for('SearchResults.static',filename='media/mask.png')}}">
                {%endif%}
            </span>
            <a class="btn" href="{{url_for('JoinTheRide.index', ID=ride['ID'])}}"  >Join ride!</a>
        </ul>
        {%endif%}
        {%endfor%}
</div>
{%endblock%}