{%extends 'base.html'%}
{%set page_head_title='Available rides'%}
{%block page_head_css%}
    <link rel = "stylesheet" href="{{url_for('SearchResults.static', filename='css/searchResults.css')}}">
    <link rel = "stylesheet" href="{{url_for('MyRecords.static', filename='css/myrecords.css')}}">

{%endblock%}
{%block page_body_main_content%}
<form class="search" method="POST">
    <div class="inForm">
        <label for ="start" >Current location:</label>
        <input type="text" id = "start" name="origin">
        <label for ="end">Destination</label>
        <input type="text" id = "end" class="up" name="destination">
        <input type="datetime-local" id="Time" name="datetime">
        <br>
        <label>preferences: </label>
        <input type="checkbox" name="smoke" value="smoke"> smoking? </input>
        <input type="checkbox" name="animals" value="animals"> pets allowed? </input>
        <input type="checkbox" name="masks" value="masks"> masks? </input>
        <br>
        <input type="submit" value="Search" class="btn">
    </div>
</form>
<div class="container">
	<table>
		<thead>
			<tr>
				<th>Driver</th>
				<th>Start time</th>
                <th>Origin</th>
				<th>Destination</th>
                <th>Available seats</th>
				<th>Payment</th>
                <th>Preferences</th>
                <th></th>

			</tr>
		</thead>
		<tbody>
			{%for ride in rides%}
			<tr>
				<td><a id="Driver" href="{{url_for('UserProfile.index', ID=ride['DriverID'])}}">{{ride['DriverName']}}</a></td>
				<td>{{ride['DepartureTime']}}</td>
                <td>{{ride['Origin']}}</td>
                <td>{{ride['Destination']}}</td>
                <td>{{ride['Seats']}}</td>
                <td>{{ride['Price']}}</td>
                <td>{%if ride['Smoking']%}
                    <img class="icon" src="{{url_for('SearchResults.static',filename='media/cigarette.jpg')}}">
                    {%endif%}
                    {%if ride['Pets']%}
                    <img class="icon" src="{{url_for('SearchResults.static',filename='media/pet.jpg')}}">
                    {%endif%}
                    {%if ride['Mask']%}
                    <img class="icon" src="{{url_for('SearchResults.static',filename='media/mask.png')}}">
                    {%endif%}
                </td>
                <td><a class="btn" href="{{url_for('JoinTheRide.index', ID=ride['ID'])}}"  >Join ride!</a></td>

			</tr>
			{%endfor%}
		</tbody>
	</table>
</div>

{%endblock%}