{%extends 'base.html'%}
{%set page_head_title="Join the ride"%}
{% block page_head_css %}
<link rel="stylesheet" href="{{url_for('Contacts.static', filename='Contact.css')}}">
{% endblock %}
{%block page_body_main_content%}
<div class="container">
	<form class="contact-box" method="POST">
		<div class="left">
        <img src="{{url_for('static', filename='media/Rabbit.jpeg')}}" alt="Rabbit's logo" width=90% >
        </div>
		<div class="right">
			<h2>Join The Ride</h2>
            <form>
			<input type="text"  id=pickUpSpot name="pickUpSpot" class="field" placeholder="Your Exact Pick Up Spot" required>
			<input type="text" id="GetOffSpot" name="GetOffSpot" class="field" placeholder="Your Exact Get Off Spot" required >
			<textarea placeholder="Message" class="field" name="message"></textarea>
			<button class="btn" type="Send To Driver">Send</button>
            </form>
		</div>
	</form>
</div>
{%endblock%}