{%extends 'base.html'%}
{%set page_head_title="Home Page"%}
{% block page_head_css %}
<link rel="stylesheet" href="{{url_for('homepage.static', filename='css/homepage.css')}}">
{% endblock %}
{%block page_body_main_content%}
<div class = "pic">
    <img src="{{url_for('static', filename='media/Rabbit.jpeg')}}" alt="Rabbit's logo">
</div>
<div class= "headline">
    <h1>All Trips<br>
    One Place</h1>
</div>
<a href="{{url_for('SearchResults.index')}}">
    <div class ="circle">
       <h1>Search For Ride!</h1>
    </div>
</a>
<a href="{{url_for('StartARide.index')}}">
    <div class ="circle2">
        <h2>Add A Ride!</h2>
    </div>
</a>
{%endblock%}
