<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../../static/CSS/header.css">
    <link rel = "stylesheet" href="../../homepage/static/homepage.css">
    <link rel="stylesheet" href="loading.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="../../../static/JS/jq.js"></script>


    <title>Home Page</title>
</head>
<body>

   <div class="loader-wrapper">
      <span class="loader"><span class="loader-inner"></span></span>
    </div>
    <script>
        $(window).on("load",function(){
          $(".loader-wrapper").fadeOut("slow");
        });
    </script>



<div class="nav">
  <div class="logo">Rabbit</div>
  <div class="links">
    <a href="homepage.html" class="active">Home</a>
    <a href="../../SignIn/templates/SignIn.html">Sing Up/ Log IN</a>
    <a href="../../UserProfile/templates/UserProfile.html">My Profile</a>
    <a href="../../AboutUs/templates/aboutus.html">About</a>
    <a href="../../Contacts/templates/Contact.html">Contact</a>
  </div>
  <div class="ham-btn">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>



<div class = "pic">
    <img src="../../../static/media/Rabbit.jpeg" alt="Rabbit's logo">
</div>
<div class= "headline">
    <h1>All Trips<br>
    One Place</h1>
</div>
<div class ="circle">
    <a href="../../SearchResults/templates/searchResults.html">
   <h1>Search For Ride!</h1>
</div>
<div class ="circle2">
    <a href="../../StartARide/templates/StartARide.html">
   <h2>Add A Ride!</h2>
</div>
</body>

<script>
    document.querySelector(".nav .ham-btn").addEventListener("click",function(){
  document.querySelector(".nav").classList.toggle("active");

});
let el = document.getElementById('rank');
el.onclick=show;
    function show(){
                        document.getElementById("choose").style.visibility="visible";
                        document.getElementById("choose").style.transition="0.3s ease";
                        document.getElementById("rank").style.visibility="hidden";
                    }
</script>


</html>