{%extends 'base.html'%}
{%set page_head_title="About us"%}
{% block page_head_css %}
<link rel="stylesheet" href="{{url_for('aboutus.static', filename='aboutus.css')}}">
{% endblock %}
{%block page_body_main_content%}
<div class="section">
    <div class="container">
        <div class="contentSection">
            <div class="title">
                <h1>About Us</h1>
            </div>
            <div class="content">
                <p>
                    Our company is made for connect between drivers and passengers so they can share together their mutual<br>
                    ride to their destination. <br>
                    We see a great importance in taking care of the environment by getting people to share their rides and also<br>
                    providing passengers a way to rich their destination and to cheaper the drivers expenses.
                </p>
            </div>
            <div class="FAQ">
                <div class="FAQheader">
                    <h2>FAQ</h2>
                </div>
                <p>
                    <b>Are Animals allowed on the ride?</b><br>
                        passengers are welcome aboard rides with their animal or pet according to the driver's approval<br>
                        <b>What is the price a passenger should pay to the driver?</b><br>
                           The price range of the ride is determined by the driver.<br>
                            Every driver who posts his ride need to add the price he is asked from one passenger.<br>
                            <b>How do I join a ride?</b><br>
                              Clicking on the "looking for a ride" button in the home page will lead you to the results page.<br>
                              In the result page you can look for the ride that is best for you and ask to join the ride. <br>
                              After that you fill out a form with all the necessary details about the ride that are needed to be filled <br>
                              and wait for the diver to approve it.

                </p>
            </div>
        </div>
          <div class="rateUs">
                  <a class="btn" href="{{url_for('RankUs.index')}}">Click To Rank Us!</>
          </div>
        <div class="ImageSection">
                <img src="{{url_for('static', filename='media/rabbit.jpeg')}}" alt="Rabbit's logo">
        </div>

    </div>

</div>
{%endblock%}