<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" href="../../../static/CSS/header.css">
     <Link rel="stylesheet" href="../../AboutUs/static/Aboutus.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap" rel="stylesheet">"
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="../../../static/JS/jq.js"></script>
</head>
<body>
  <div class="loader-wrapper">
      <span class="loader"><span class="loader-inner"></span></span>
    </div>
    <script>
        $(window).on("load",function(){
          $(".loader-wrapper").fadeOut("slow");
        });
    </script>

<div class="nav">
  <div class="logo">Rabbit</div>
  <div class="links">
    <a href="../../HomePage/templates/HomePage.html" >Home</a>
    <a href="../../SignIn/templates/SignIn.html">Sing Up/ Log IN</a>
    <a href="../../UserProfile/templates/UserProfile.html">My Profile</a>
    <a href="aboutus.html" class="active">About</a>
    <a href="../../Contacts/templates/Contact.html">Contact</a>
  </div>
  <div class="ham-btn">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

        <div class="section">
            <div class="container">
                <div class="contentSection">
                    <div class="title">
                        <h1>About Us</h1>
                    </div>
                    <div class="content">
                        <p>
                            Our company is made for connect between drivers and passengers so they can share together their mutual<br>
                            ride to their destination. <br>
                            We see a great importance in taking care of the environment by getting people to share their rides and also<br>
                            providing passengers a way to rich their destination and to cheaper the drivers expenses.
                        </p>
                    </div>
                    <div class="FAQ">
                        <div class="FAQheader">
                            <h2>FAQ</h2>
                        </div>
                        <p>
                            <b>Are Animals allowed on the ride?</b><br>
                                passengers are welcome aboard rides with their animal or pet according to the driver's approval<br>
                                <b>What is the price a passenger should pay to the driver?</b><br>
                                   The price range of the ride is determined by the driver.<br>
                                    Every driver who posts his ride need to add the price he is asked from one passenger.<br>
                                    <b>How do I join a ride?</b><br>
                                      Clicking on the "looking for a ride" button in the home page will lead you to the results page.<br>
                                      In the result page you can look for the ride that is best for you and ask to join the ride. <br>
                                      After that you fill out a form with all the necessary details about the ride that are needed to be filled <br>
                                      and wait for the diver to approve it.

                        </p>
                    </div>
                </div>
                <div class="rateUs">
                    <a class="btn" href="../../RankUs/templates/RankUs.html">Click To Rank Us!</a>
                </div>
                <div class="ImageSection">
                        <img src="../../../static/media/Rabbit.jpeg" alt="Rabbit's logo">
                </div>

            </div>

        </div>


</body>

<script>
    document.querySelector(".nav .ham-btn").addEventListener("click",function(){
  document.querySelector(".nav").classList.toggle("active");

});
let el = document.getElementById('rank');
el.onclick=show;
    function show(){
                        document.getElementById("choose").style.visibility="visible";
                        document.getElementById("choose").style.transition="0.3s ease";
                        document.getElementById("rank").style.visibility="hidden";
                    }
</script>

</html>