<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../../../static/CSS/header.css">
    <link  rel="stylesheet" href="../../../static/CSS/Ranking.css">
    <script src="../../../static/JS/header.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
          crossorigin="anonymous" />
    <title>RanksDriver</title>
</head>
<body>
<script>
		var stars;
		var stars2;
		var stars3;
		document.addEventListener('DOMContentLoaded', () => {
			stars = document.querySelectorAll(".grid-rankCmf span");
			stars2 = document.querySelectorAll(".grid-rankAT span");
            stars3 = document.querySelectorAll(".grid-rankCom span");

			stars.forEach(item => {
				item.addEventListener('click', function () {
					var rating = this.getAttribute("data-rating");
					return SetRatingStar(rating, stars);
				});
			});
			stars2.forEach(item => {
                    item.addEventListener('click', function () {
                    var rating = this.getAttribute("data-rating");
                    return SetRatingStar(rating, stars2);
                });
            });
            stars3.forEach(item => {
                    item.addEventListener('click', function () {
                    var rating = this.getAttribute("data-rating");
                    return SetRatingStar(rating, stars3);
                });
            });
		});

		function SetRatingStar(rating, stars) {
			var len = stars.length;
			console.log(rating);

			for (var i = 0; i < len; i++) {
				if (i < rating) {
					stars[i].innerHTML = '<i class="fas fa-star"></i>';
				} else {
					stars[i].innerHTML = '<i class="far fa-star"></i>';
				}
			}

		};
	</script>

<div class="nav">
  <div class="logo">Rabbit</div>
  <div class="links">
    <a href="../../HomePage/templates/HomePage.html" >Home</a>
    <a href="../../SignIn/templates/SignIn.html">Sing Up/ Log IN</a>
    <a href="../../UserProfile/templates/UserProfile.html">My Profile</a>
    <a href="../../AboutUs/templates/aboutus.html">About</a>
    <a href="../../Contacts/templates/Contact.html">Contact</a>
  </div>
  <div class="ham-btn">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<div class="container">
		<div class="contact-box">
			<div class="left">
            <img src="../../../static/media/Rabbit.jpeg" alt="Rabbit's logo" width=90% >
            </div>
			<div class="right">

<h2>Rank Your Driver!</h2>
<div class="grid-container">
    <div class="grid-rankCmf">Driving comfort:
            <span data-rating="1"><i class="far fa-star"></i></span>
			<span data-rating="2"><i class="far fa-star"></i></span>
			<span data-rating="3"><i class="far fa-star"></i></span>
			<span data-rating="4"><i class="far fa-star"></i></span>
			<span data-rating="5"><i class="far fa-star"></i></span>
    </div>
    <div class="grid-rankAT">Arrival on time:
            <span data-rating="1"><i class="far fa-star"></i></span>
			<span data-rating="2"><i class="far fa-star"></i></span>
			<span data-rating="3"><i class="far fa-star"></i></span>
			<span data-rating="4"><i class="far fa-star"></i></span>
			<span data-rating="5"><i class="far fa-star"></i></span>
    </div>
    <div class="grid-rankCom">Company:
            <span data-rating="1"><i class="far fa-star"></i></span>
			<span data-rating="2"><i class="far fa-star"></i></span>
			<span data-rating="3"><i class="far fa-star"></i></span>
			<span data-rating="4"><i class="far fa-star"></i></span>
			<span data-rating="5"><i class="far fa-star"></i></span>
    </div>
    <div class="grid-ranktxt">
        <label for="comment">Comment:</label><br>
        <textarea placeholder="Your Comment" ></textarea>
        <br>

    </div>
    <div class="grid-sub">
        <button class="btn" type="submit">Upload</button>
    </div>
</div>
			</div>
		</div>
	</div>


</body>
</html>