{%extends 'base.html'%}
{%set page_head_title="Rank Driver"%}
{% block page_head_css %}
	<link rel="stylesheet" href="{{url_for('RankDriver.static', filename='css/Ranking.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
          crossorigin="anonymous" />
{% endblock %}
{%block page_body_main_content%}
<div class="container">
		<div class="contact-box">
			<div class="left">
            <img src="{{url_for('static', filename='media/Rabbit.jpeg')}}" alt="Rabbit's logo" width=90% >
            </div>
			<div class="right">

<h2>Rank Your Driver!</h2>
<form class="grid-container" method="POST">
    <div class="grid-rankCmf" align="left" style="margin:10px 0px">Driving comfort:
    		<div style="float:right">
            <span onclick="rate(1,1)" data-rating="1"><i class="far fa-star"></i></span>
			<span onclick="rate(1,2)" data-rating="2"><i class="far fa-star"></i></span>
			<span onclick="rate(1,3)" data-rating="3"><i class="far fa-star"></i></span>
			<span onclick="rate(1,4)" data-rating="4"><i class="far fa-star"></i></span>
			<span onclick="rate(1,5)" data-rating="5"><i class="far fa-star"></i></span>
			</div>
    </div>
    <div class="grid-rankAT" align="left" style="margin:10px 0px">Arrival on time:
    		<div style="float:right">
	            <span onclick="rate(2,1)" data-rating="1"><i class="far fa-star"></i></span>
				<span onclick="rate(2,2)" data-rating="2"><i class="far fa-star"></i></span>
				<span onclick="rate(2,3)" data-rating="3"><i class="far fa-star"></i></span>
				<span onclick="rate(2,4)" data-rating="4"><i class="far fa-star"></i></span>
				<span onclick="rate(2,5)" data-rating="5"><i class="far fa-star"></i></span>
			</div>
    </div>
    <div class="grid-rankCom" align="left" style="margin:10px 0px">Company:
    		<div style="float:right">
	            <span onclick="rate(3,1)" data-rating="1"><i class="far fa-star"></i></span>
				<span onclick="rate(3,2)" data-rating="2"><i class="far fa-star"></i></span>
				<span onclick="rate(3,3)" data-rating="3"><i class="far fa-star"></i></span>
				<span onclick="rate(3,4)" data-rating="4"><i class="far fa-star"></i></span>
				<span onclick="rate(3,5)" data-rating="5"><i class="far fa-star"></i></span>
			</div>
    </div>
    <div class="grid-ranktxt" style="margin:10px 0px">
        <label for="comment">Comment:</label><br>
        <textarea placeholder="Your Comment" name="message"></textarea>
        <br>
        <input type="hidden" name="rate" value="1" hidden>
    </div>
    <div class="grid-sub">
        <button class="btn" type="submit">Upload</button>
    </div>
</form>
			</div>
		</div>
	</div>
{%endblock%}
{%block page_body_js%}
<script type="text/javascript" src="{{url_for('RankDriver.static',filename='js/Ranking.js')}}"></script>
<script type="text/javascript">
	var rates = [1,1,1];
	function rate(ID, val) {
		rates[ID-1] = val;
		$('input[name="rate"]').val((rates[0]+rates[1]+rates[2])/3);
	}
</script>
{%endblock%}