<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../../static/CSS/header.css">
   <link  rel="stylesheet" href="../static/Contact.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap" rel="stylesheet">"
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Contact</title>
</head>
<body>
 <div class="loader-wrapper">
      <span class="loader"><span class="loader-inner"></span></span>
    </div>


<div class="nav">
  <div class="logo">Rabbit</div>
  <div class="links">
    <a href="../../HomePage/templates/HomePage.html" >Home</a>
    <a href="../../SignIn/templates/SignIn.html">Sing Up/ Log IN</a>
    <a href="../../UserProfile/templates/UserProfile.html">My Profile</a>
    <a href="../../AboutUs/templates/aboutus.html">About</a>
    <a href="Contact.html" class="active" >Contact</a>
  </div>
  <div class="ham-btn">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

	<div class="container">
		<div class="contact-box">
			<div class="left">
            <img src="../../../static/media/Rabbit.jpeg" alt="Rabbit's logo" width=90% >
            </div>
			<div class="right">
				<h2>Contact Us</h2>
                <form>
				<input type="text"  id=name name="name" class="field" placeholder="Your Name" required>
				<input type="email" id="email" name="email" class="field" placeholder="Your Email" required >
				<textarea placeholder="Message" class="field"></textarea>
				<button class="btn" type="submit">Send</button>
                </form>
			</div>
		</div>
	</div>

</body>

<script>
    document.querySelector(".nav .ham-btn").addEventListener("click",function(){
  document.querySelector(".nav").classList.toggle("active");

});
let el = document.getElementById('rank');
el.onclick=show;
    function show(){
                        document.getElementById("choose").style.visibility="visible";
                        document.getElementById("choose").style.transition="0.3s ease";
                        document.getElementById("rank").style.visibility="hidden";
                    }
</script>

</html>