{%extends 'base.html'%}
{%set page_head_title='User Profile'%}
{%block page_head_css%}
    <link rel = "stylesheet" href="{{url_for('UserProfile.static', filename='css/UserProfile.css')}}">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
{%endblock%}
{%block page_body_main_content%}
<div class="wrapper">
    <div class="left">
        <img src="{{url_for('static', filename='media/'+user['Profile'])}}" alt="user's profile picture" width="120" style="max-height: 200px;">
        <h4>{{user['Name']}}</h4>
    </div>
    <div class="right">
        <div class="info">
            <h3>Information</h3>
            <div class="info_data">
                 <div class="data">
                    <h4>Email</h4>
                    <p>{{user['Email']}}</p>
                 </div>
                 <div class="data">
                   <h4>Phone</h4>
                    <p>{{user['Phone']}}</p>
              </div>
            </div>
        </div>
      <div class="My Rides">
            <div class="projects_data">
                 <div class="data">
                    <h4>My car</h4>
                    <p>{{user['Company']}} {{user['CarModel']}}<br> Car NUmber: {{user['CarNumber']}}<br> Lisence Number: {{user['LicenseNumber']}}</p>
                 </div>
                 <div class="data">
                   <h4>Number of rides</h4>
                    <p>{{user['NumberOfRides']}} rides</p>
              </div>
                <div class="data">
                    <h4>My Driver Rating</h4>
                    <p>{{user['DriverRating']}} Stars</p>
                    <h4>My passenger Rating</h4>
                    <p>{{user['PassengerRating']}} Stars</p>
                </div>
            </div>


        </div>

        <div class="social_media">
            <ul>
              <li >
                  <a href="{{user['FacebookLink']}}"><i class="fab fa-facebook-f"></i></a>
              </li>
          </ul>

          {%if current_user==user['ID']%}
          <div class="Rank" id="rank">
                <ul style="width:150px!important"><li style="width:150px!important">
                    <a href="{{url_for('Signin.updateProfile')}}">Update Profile</a>
                </li></ul>
          </div>
          <div class="Rank" id="rank">
                <ul style="width:100px!important"><li style="width:100px!important">
                    <a href="{{url_for('MyRecords.index')}}">My Rides</a>
                </li></ul>
          </div>
          <div class="Rank" id="rank">
                <ul style="width:100px!important"><li style="width:100px!important">
                    <a href="{{url_for('myMessages.index', ID = user['ID']) }}">Messages</a>
                </li></ul>
          </div>
          {%endif%}
        </div>
    </div>
</div>
<style> #choose{
    opacity:100%;
} </style>
{%endblock%}